.header
{
    width: 100vw;
    height: 80px;
}

.header-elements { padding: 5vw; }

.logo
{
    width: 96px;
    height: 20pt;
    display: inline-block;
    margin: auto;
}

.hr-margin
{
    margin-left: 0px;
    margin-right: 0px;
}