.no-margin { margin: 0; }
.no-margin-bottom { margin-bottom: 0; }
.no-margin-top { margin-top: 0; }
.no-margin-right { margin-right: 0; }

.margin-left-only
{
    margin-top: 0;
    margin-left: 2vw;
    margin-bottom: 0;
    margin-right: 0;
}

.cdw
{
    /*
        CDW - Content (justify-content and align-content), Display, Wrap (flex-wrap)
    */
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.gallery-plate
{
    width: 100%;
    height: 60vw;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 110%, 0 110%);
}

.hidden-overflow
{
    overflow-x: hidden;
    overflow-y: hidden;
}

.hidden-overflow-x { overflow-x: hidden; }

.gallery-grid
{
    top: 20vw;
    left: 35vw;
    height: 20vw;
    transform: skew(60deg, 335deg);

    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.gallery-image
{
    height: 8vw;
    width: 17.8vw;
    margin: 1vw;
}

.title
{
    position: relative;
    top: 5vw;
    left: 10vw;
    font-family: 'Oswald', sans-serif;
    color: var(--title-color);
	text-shadow: 
		-0   -1px 0   var(--background-color),
		 0   -1px 0   var(--background-color),
		-0    1px 0   var(--background-color),
		 0    1px 0   var(--background-color),
		-1px -0   0   var(--background-color),
		 1px -0   0   var(--background-color),
		-1px  0   0   var(--background-color),
		 1px  0   0   var(--background-color),
		-1px -1px 0   var(--background-color),
		 1px -1px 0   var(--background-color),
		-1px  1px 0   var(--background-color),
		 1px  1px 0   var(--background-color),
		-1px -1px 0   var(--background-color),
		 1px -1px 0   var(--background-color),
		-1px  1px 0   var(--background-color),
		 1px  1px 0   var(--background-color);
}

.title-red
{
    color: #E50901;
}

.subtitle
{
    position: relative;
    top: 10vw;
    left: 10vw;
    font-family: 'Open Sans', sans-serif;
	text-shadow: 
		-0   -1px 0   var(--background-color),
		 0   -1px 0   var(--background-color),
		-0    1px 0   var(--background-color),
		 0    1px 0   var(--background-color),
		-1px -0   0   var(--background-color),
		 1px -0   0   var(--background-color),
		-1px  0   0   var(--background-color),
		 1px  0   0   var(--background-color),
		-1px -1px 0   var(--background-color),
		 1px -1px 0   var(--background-color),
		-1px  1px 0   var(--background-color),
		 1px  1px 0   var(--background-color),
		-1px -1px 0   var(--background-color),
		 1px -1px 0   var(--background-color),
		-1px  1px 0   var(--background-color),
		 1px  1px 0   var(--background-color);
}

.logos
{
    position: relative;
    top: 20vw;
    left: 10vw;
    width: 30vw;
}

.top-position
{
    padding: 8vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.top-position-a
{
    grid-template-areas: 
        "top-position-image top-position-text"
        ". ."
    ;
}

.top-position-b
{
    grid-template-areas: 
        "top-position-text top-position-image"
        ". ."
    ;
}

@media (max-width: 900px)
{
    .top-position-a, .top-position-b
    {
        grid-template-areas: 
            "top-position-image ."
            "top-position-text ."
        ;
    }

    .image-container
    {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2vw;
    }

    .video-box
    {
        margin-left: auto;
        margin-right: auto;
    }

    .padding-left { padding-left: 0; }
    .logos { top: 10vw; }
    .imdb-recktangle { font-size: 5px; }

    .title
    {
        top: 2vw;
        margin: 0;
    }

    .subtitle
    {
        top: 5vw;
        margin: 0;
    }
}

@media (max-width: 1000px)
{
    .imdb-complex
    {
        flex-direction: column;
        align-items: center;
    }
}

.image-container
{
    width: 35vw;
    height: 20vw;
    display: block;
}

.image-container-big
{
    width: 80vw;
    height: 40vw;
    display: block;
}

.top-position-image
{
    grid-area: top-position-image;
    position: relative;
    object-fit: contain;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.padding-left { padding-left: 5vw; }

.top-position-text
{
    grid-area: top-position-text;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(3 1fr);
}

.top-position-number
{
    color: #E50901;
    opacity: 70%;

    font-size: 50pt;
    text-align: center;
}

.top-position-title
{
    font-size: 34px;
    font-family: 'Oswald', sans-serif;
    color: var(--title-color);
}

.imdb-recktangle
{
    width: 40px;
    height: 20px;

    color: var(--background-color);
    background-color: var(--text-color);

    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    font-family: 'Oswald', sans-serif;
}

.imdb-complex
{
    display: flex;
    justify-content: center;
}

.imdb-text
{
    width: 16pt; margin-top: 2px;
}

.video-box
{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    margin-top: 5vw;
    width: auto;
}

.video-table
{ 
    display: table;
    width: 40vw;
}

.video-table-row { display: table-row; }
.table-cell { display: table-cell; }

.video
{
    display: block;
    position: relative;
    object-fit: contain;
    width: 12vw;
}

.news-plate
{
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-right: 8vw;
    padding-left: 8vw;

    justify-content: center;
}

.news-plate-title
{
    position: relative;
    font-size: 34px;
    font-family: 'Oswald', sans-serif;
    color: var(--title-color);
}

.news-plate-image
{
    position: relative;
    object-fit: contain;
    width: 100%;
}

.news-plate-subtitle-red
{
    color: #9A0618;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.upper-footer
{
    padding: 20px;
    border-top: 1px solid var(--title-color);
    border-bottom: 1px solid var(--title-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text
{
    color: var(--title-color);
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
}

.footer-button
{
    margin-left: 50px;
    width: 20vw;
    height: 50px;

    color: #FEFEFE;
    background-color: #E50901;

    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2vw;
    font-family: 'Open Sans', sans-serif;

    cursor: pointer;
}

.footer { align-items: center; }
.all-margin { margin: 5vw; }

.three-side-margin
{
    margin-top: 5vw;
    margin-left: 5vw;
    margin-bottom: 5vw;
}

.footer-text-1
{
    width: 30vw;
    display: inline-block;
}

.footer-text-2 { display: inline-block; }

.footer-title
{
    color: var(--title-color);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    display: block;
}

.footer-subtitle
{
    color: var(--text-color);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    display: block;
}

.clickable { cursor: pointer; }