.no-margin { margin: 0; }

.cdw
{
    /*
        CDW - Content (justify-content and align-content), Display, Wrap (flex-wrap)
    */
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.panel-grid
{
    width: 100vw;
    height: 600px;
    
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 100px;
}

.left-panel
{/*
    width: 25vw;
    height: 475px;*/
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;

    background-color: darkseagreen;
}

.mid-panel
{/*
    width: 50vw;
    height: 325px;*/
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    background-color: white;
}

.right-panel-1
{
    grid-column-start: 3;
    grid-row-start: 1;
    
    background-color: darkseagreen;
}

.right-panel-2
{
    grid-column-start: 3;
    grid-row-start: 2;
    
    background-color: darksalmon;
}

.footer
{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;

    background-color: lightblue;
}

.footer-elements { padding: 5vw; }